<!-- vim: set sw=2 ts=2 : -->
<div class="myreward">
  <div class="row-fluid">
    <div class="col-md-2">
      <div class="time">
        14/11 11:10
      </div>
      <img class="logo" src="static/img/avatar.jpg"/>
    </div>
    <div class="col-md-10">
      <div class="name">小兔</div>
      <div class="message">发布者说话</div>
      <div class="row-fluid item">
        <div class="col-md-2 resource-name">
          <p>超能陆战队</p>
          <p><span>电影</span><span>2015</span><span>美国</span></p>
        </div>
        <div class="col-md-2 fb">1000F</div>
        <div class="col-md-5 addition">
          追加悬赏:
          <span><img class="small-logo" src="static/img/avatar.jpg"/> ABC 200F</span>
          <span><img class="small-logo" src="static/img/avatar.jpg"/> ABC 200F</span>
          <span ng-click="viewRewardClickHandler()" class="more-addition"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="col-md-3">
          <div class="row-fluid">
            <button ng-click="viewResourceClickHandler()" class="btn default primary">查看资源</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==============================================================
View Resource Modal
===============================================================-->
<div class="modal fade" id="view-resource-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title"><h2>资源列表</h2></div>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button class="btn default" data-dismiss="modal">取消</button>
        <button class="btn default primary">确定</button>
      </div>
    </div>
  </div>
</div>

<!--==============================================================
View Reward Modal
===============================================================-->
<div class="modal fade" id="view-reward-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title"><h2>悬赏列表</h2></div>
      </div>
      <div class="modal-body">
        <div class="row-fluid addition">
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
        </div>
        <div class="row-fluid addition">
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
        </div>
        <div class="row-fluid addition">
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
        </div>
        <div class="row-fluid addition">
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
          <div class="col-md-3"><img class="logo" src="static/img/avatar.jpg"/><br/>ABC 200F</div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
