<!-- vim: set sw=2 ts=2 : -->
<div class="row">
  <div class="user-item">
    <div class="row">
      <div class="time">
        3/12 10:10
      </div>
      <div class="name">
        Rabbit
      </div>
      <div class="message">
        HIHIHIHIHIHIHIHIHI
      </div>
    </div>
    <div class="row">
      <div class="resource-item">
        <div class="name">ABCABC</div>
        <div class="type">Movie</div>
        <div class="year">2011</div>
        <div class="country">USA</div>
      </div>

    </div>
  </div>
</div>
