<!-- vim: set sw=2 ts=2 : -->
<div class="banner">
  <div class="row">
    <div class="col-lg-8">
      悬赏啊悬赏，悬赏啊悬赏。
      悬赏啊悬赏，悬赏啊悬赏。
      悬赏啊悬赏，悬赏啊悬赏。
    </div>
    <div class="col-lg-2">
      <button>我的悬赏</button>
    </div>
    <div class="col-lg-2">
      <button>发布悬赏</button>
    </div>
  </div>
</div>
<div class="reward">
  <div class="row">
    <div class="pull-right">
      <input name="sort" type="radio" value="new" checked="checked"/>最新
      &nbsp;<input name="sort" type="radio" value="hot"/>最热
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="time">14/11 11:10</div>
      <img class="logo" src="static/img/avatar.jpg"/>
    </div>
    <div class="col-lg-10">
      <div class="name">小兔</div>
      <div class="message">发布者说话</div>
      <div class="row item">
        <div class="col-lg-2 resource-name">
          <p>超能陆战队</p>
          <p><span>电影</span><span>2015</span><span>美国</span></p>
        </div>
        <div class="col-lg-2 fb">1000F</div>
        <div class="col-lg-6 addition">
          追加悬赏:
          <span><img class="small-logo" src="static/img/avatar.jpg"/> ABC 200F</span><span></span>
          <span><img class="small-logo" src="static/img/avatar.jpg"/> ABC 200F</span><span></span>
          <span><img class="small-logo" src="static/img/avatar.jpg"/> ABC 200F</span><span></span>
          <span ng-click="viewClickHandler()" class="more-addition"><i class="fa fa-angle-down"></i></span>
        </div>
        <div class="col-lg-2">
          <div class="row">
            <button ng-click="uploadClickHandler()" class="default primary">上传领赏</button>
          </div>
          <div class="row">
            <button ng-click="appendClickHandler()" class="default">追加悬赏</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--==============================================================
Upload Modal
===============================================================-->
<div class="modal fade" id="upload-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title" id="myModalLabel"><img src="static/img/fbt-logo.png"/> <h3>上传领赏</h3></div>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button class="default" data-dismiss="modal">取消</button>
        <button class="default primary">确定</button>
      </div>
    </div>
  </div>
</div>

<!--==============================================================
Append Modal
===============================================================-->
<div class="modal fade" id="append-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title" id="myModalLabel"><img src="static/img/fbt-logo.png"/> <h3>追加悬赏</h3></div>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button class="default" data-dismiss="modal">取消</button>
        <button class="default primary">确定</button>
      </div>
    </div>
  </div>
</div>

<!--==============================================================
View Modal
===============================================================-->
<div class="modal fade" id="view-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div class="modal-title" id="myModalLabel"><img src="static/img/fbt-logo.png"/> <h3>追加悬赏列表</h3></div>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button class="default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
