/* vim: set sw=2 ts=2 : */
/********************************************************
*   Friendsbt.com
*
*   Author  :   zhangxiaoyang.hit[at]gmail.com
*   Date    :   2015-03-30 23:26
*   Color   :   #1abc9c(26, 188, 156)
*   Font    :   small(12px) middle(18px) large(20px)
*   Width   :   1020px
********************************************************/

/*********************************************************************
* Global
*********************************************************************/
html, body, span, div, p, a, table, tbody, td, h1, h2, h3, h4, h5, h6, img, form, font, strong, b, i, dl, dt, dd, ol, ul, li, dl, dd, dt, iframe, label, blockquote, input, button {
  padding:0;
  margin:0;
  list-style: none;
  font-family: "Microsoft YaHei","黑体","文泉驛微米黑";
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: lightgrey;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: grey;
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #grey;
  -webkit-border-radius: 6px;
}

body {
  /*line-height: 22px;
  font-size: 12px;*/
  color: #666;
  background: #fff;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

/*********************************************************************
* Skin
*********************************************************************/
.skin {
  position: absolute;
  background: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}

/*********************************************************************
* Header
*********************************************************************/
.header {
  display: block;
  height: 60px;
  background: #1abc9c;
}

.infobox {
  font-size: 12px;
  display: inline-block;
}

.logo {
  display: inline-block; 
}

.logo img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 4px;
}

.logo .toast {
  position: absolute;
  padding: 2px 1px;
  text-align: center;
  border-radius: 6px;
  opacity: 0.85;
  z-index: 10;
}

.logo .toast-msg {
  width: 20px;
  top: 5px;
  left: 50px;
  color: white;
  background: red;
}

.logo .toast-level {
  width: 30px;
  top: 32px;
  left: 40px;
  color: white;
  background: black;
}

.detail {
  display: inline-block;
  vertical-align: top;
  color: white;
}

.detail div:nth-child(2), .detail div:nth-child(3) {
  border-left: 1px solid white;
}

.detail-item {
  display: inline-block;
  line-height: 15px;
  margin: 15px 5px;
  padding-left: 10px;
  text-align: center;
}

.detail-item span:first-child {
  display: block;
}

.detail-item span:nth-child(2) {
  font-size: 12px; 
}

.nav {
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 20px;
}

.nav li {
  float: left;
  line-height: 60px;
}

.nav a {
  text-decoration: none;
  outline: none;
  display: block;
  width: 85px;
  text-align: center;
  color: white;
}

.nav a:hover {
  font-weight: bold;
  background: #08846b;
  border-radius: 3px;
}

.nav-main a:hover {
  border-radius: 0;
}

.nav-tools li {
  margin: 0 10px;
}

.nav-tools button {
  border: 1px solid white;
  border-radius: 3px;
  background: transparent;
  color: white;
  font-size: 18px;
  width: 80px;
  line-height: 30px;
}

.nav-tools button:hover {
  background: #08846b;
}

.nav-tools input {
  position: absolute;
  margin-top: 12px;
  width: 120px;
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  opacity: 0.8;
  z-index: 10;
  line-height: 36px;
}

.nav-tools input:focus {
  background: white;
  opacity: 1;
  width: 160px;
}

.nav-actions {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.nav-actions li {
  font-size: 12px;
  line-height: 20px;
}

.nav-actions a {
  width: 100%;
  margin: 0 10px;
}

/*********************************************************************
* Subheader
*********************************************************************/

.subheader {
  display: block;
  height: 30px;
  text-align: center;
  background: rgba(240, 240, 240, 0.5);
  border-bottom: 1px solid lightgrey;
}

.nav-categories a {
  color: black;
  font-size: 18px;
}

.nav-categories a:hover {
  font-weight: bold;
  color: #1abc9c;
  background: none;
}

.nav-categories li {
  line-height: 27px;
}

.nav-categories li:nth-child(1), .nav-categories li:nth-child(4), .nav-categories li:nth-child(10) {
  font-weight: bold;
  color: black;
}

.nav-categories .noHover:hover {
  color: black;
  font-bold: normal;
}

.nav-categories a:not(.noHover):hover {
  border-bottom: 3px solid #1abc9c;
  border-radius: 0px;
}

/*********************************************************************
* Banner
*********************************************************************/

.banner {
  top: 90px;
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 80px;
  left: 0;
  font-size: 20px;
  color: grey;
}

.banner .row-fluid {
  padding: 0 35px;
  height: 100%;
}

.banner .row-fluid > div {
  top: 50%;
  transform: translateY(-50%);
}

.banner .btn {
  background: rgba(255, 255, 255, 0.5);
  color: grey;
  border: 1px solid white;
  border-radius: 4px;
  padding: 8px 22px;
  font-size: 20px;
  margin: 2px;
  cursor: pointer;
}

.banner .btn:hover {
  background: lightgrey;
  outline: none;
  text-decoration: none;
}

.banner > .row-fluid > :nth-child(2) > a {
  float: right;
}

.banner > .row-fluid > :nth-child(3) > a {
  float: left;
}

/*********************************************************************
* Banner
*********************************************************************/

.container {
  padding: 0;
  margin: 0 auto;
  /*margin: 20px 50px;*/
}

/*********************************************************************
* Shortcut
*********************************************************************/

.shortcut-box {
  position: absolute;
  color: lightgrey;
  right: 20px;
  bottom: 20px;
  z-index: 50;
}

.shortcut-box > div {
  cursor: pointer;
  display: inline-block;
}

.shortcut-box > div:hover {
  color: grey;
}

/*********************************************************************
* Controls
*********************************************************************/

/*
 * http://www.haorooms.com/post/css_mh_ck_radio
 */
input[type="radio"] {
  cursor: pointer;
}

.modal {
  background: rgba(0, 0, 0, 0.8);
}

.modal.in {
  overflow: hidden;
}

.modal-dialog {
  width: 500px;
  margin: 100px auto;
}

.modal .modal-body {
  max-height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal .modal-title * {
  color: #1abc9c;
}

.modal .modal-header {
  border-bottom: 3px solid #1abc9c;
}

.modal .modal-footer {
  border-top: 1px solid lightgrey;
}

.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  transform: translate(0, 0);
}

.modal .close {
  cursor: pointer;
  background: 0 0;
  border: 0;
  float: right;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}

.modal .close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}

.modal .modal-header img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  margin: 4px;
}

.modal .modal-header * {
  display: inline-block;
  vertical-align: middle;
}

.btn a {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.btn a:hover {
  outline: none;
  text-decoration: none;
  color: inherit;
}

.btn.default {
  background: white;
  color: grey;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 18px;
  margin: 2px;
}

.btn.primary {
  background: #1abc9c;
  color: white;
}

.btn.default:hover {
  background: lightgrey;
}

.btn.primary:hover {
  background: #08846b;
}

.radio {
  display: inline-block;
  margin-right: 3px;
}

.radio label {
  cursor: pointer;
}

.radio span {
  width: 24px;
  height: 18px;
  float: left;
  padding-top: 3px;
  cursor: pointer;
  text-align: center;
  background-image: url(../img/radio.png);
  background-repeat: no-repeat;
  background-position: -24px 0;
}

.radio span input[type=radio] {
  opacity: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
}

.radio.checked span {
  background-position: 0 0;
}

.form-group {
  margin-bottom: 5px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type=text] {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  padding: 5px;
}

.form-group input[type=text]:focus, .form-group input[type=text]:hover {
  border: 2px solid lightgrey;
  padding: 4px;
}
